<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hg.web.mapper.UserMapper">
 
 	<!-- 중복 가입 방지 -->
	<select id="countID" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM prouser WHERE username=#{username}
	</select>

 	<!-- 회원 가입 -->
 	<select id="Joinprocess" parameterType="com.hg.web.vo.prouser">
 		INSERT INTO prouser(username,password,role)
 		VALUES(#{username},#{password},#{role})
 	</select>
 	
 	<!-- 로그인 아이디 검증 -->
 	<select id="findID" resultType="com.hg.web.vo.prouser" parameterType="String">
 		SELECT * FROM prouser WHERE username=#{username}
 	</select>

 </mapper>